
<h2>About</h2>
<hr />
<p>
    Yani veritabanına eklenen verinin veri tipi gibi özelliğine bakmadan veriyi kaydedip, veriyi okurken
    özelliklerini filtreleme teknolojisi diye 
    Hadoop:Map-Reduce, vldb, big data
</p>
<p>
    Karşılaştırmalar
    or, and kullanıldığında sadece ilk karşılaştırmayı yapıp sonucu verir
    |, & kullanıldığında tüm karşılaştırmalar kontrol edilir. Ona göre sonuç üretilir.
    is -> eşitlik karşılaştırması
    in -> diger dillerdeki gibi dizilerin elemanlarini dongulerde veya baska yerlerde kullanmak icin kullanilir
    a.copy(b)-> bir bak.

</p>
