<h2>Contact</h2>
<hr />
<p>
    Yani veritabanına eklenen verinin veri tipi gibi özelliğine bakmadan veriyi kaydedip, veriyi okurken
    özelliklerini filtreleme teknolojisi diye tanımalanabilir.
    Veri büyüdükçe kutuyu büyütmek yerine yeni kutular eklenerek verinin paralelleştirilmesi hedeflenir.
    Hadoop:Map-Reduce, vldb, big data
</p>
<p>
    That is not me... Because you do not remember me!
</p>
