<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .block {
            display: block;
            margin: 10px;
            border: 2px dotted gray;
            padding: 10px;
        }

        .block2 {
            display: inline-block;
            margin: 5px;
            border: 2px dotted #ffd800;
            padding: 5px;
        }

        #menu ul li {
            display: inline-block;
            width: 100px;
            height: 30px;
            text-align: center;
            border: 1px solid #311aff;
            background-color: dodgerblue;
            margin: 5px;
            line-height: 30px;
            vertical-align: middle;
        }

        #menu a {
            color: white;
            text-decoration: none;
            font-size: smaller;
        }

        #menu li:hover {
            background-color: #aaeaff
        }

            #menu li:hover a {
                color: #311aff;
            }
    </style>
</head>
<body>
    <div id="menu" class="block">
        @*Header*@
        <ul>
            <li>
                @Html.ActionLink("Index", "Index", "Home")
            </li>
            @RenderSection("links")
        </ul>
    </div>
    <div class="block">
        @RenderBody()
    </div>
    <div class="block">
        @*Footer*@
        @RenderSection("footer")
        <center><b>Tum haklari saklidir. &copy; M-CLK</b></center>
    </div>
</body>
</html>

