@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="block2" style="width:660px">
    @RenderBody()
</div>
<div class="block2" style="float:right">
   <h4>Our Contact Numbers</h4>
    <ul>
        <li>
            214 666 13 23
        </li>
        <li>
            215 433 19 65
        </li>
        <li>
            216 543 17 76
        </li>
    </ul>
</div>