
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/_LayoutPage4.cshtml";
}

<h2>blog</h2>
<p>
    asdfsad lkasn kfnsdakjfn kjasdkjfnajkdsjkfdns kjasdnf jkdnsakj fnkjsda njfknsa knfkjasdnjkfn kdsajn fjknsda kjnkj asjkfndasjbg;ksan jsnakdf njksdan fksdan jkfjka sdfkasdf kjdsakj dsaf.
</p>
